*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    font-family: 'poppins sans-sarif';
}

/* navbar css */
.navbar {
 
  position: sticky;
  top: 0;
  z-index: 20;
}
.nav-link{
    font-size: 20px;
    color: #333 !important;
}
.navbar-nav .nav-item a.active,a:hover {
    color: #3763eb !important;
}

/* slider */

.slider-container {
    position: relative;
    height: 600px;
    overflow: hidden;
     z-index: 10
}

.slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.5);
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    
}
.slider-heading{
    font-size: 40px;
    font-weight: 1000;
}
.slider-para{
    font-size: 20px;
    font-weight: 400;
    color: #fff !important;
}
.slider-btn{
    background-color: transparent;
    border: 1.5px solid #fff;
    padding: 14px 40px;
    font-size: 18px;
    color: #fff;
    
}

/* section-1 */

.section-title h3{
    color: #3763eb;
    font-weight: 700;
    margin-bottom: 5px;
}
.sub-title h1{
    font-weight: 700;
}
.card{
    padding: 50px;
}

 .feature-heading h3{
font-size: 30px;
font-weight: 700;
line-height: 20px;

}
.feature-icon{
    font-size: xx-large;
    color: #3763eb;
}
i {
    background-color: white;
    border-radius: 50%;
    border: 2px solid #3763eb;
    padding: 20px;
  }
  i:hover{
    background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);
    color: #fff;
  }
  .card:hover i{
    background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);
    color: #fff;
  }
  .card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  


/* section-2 */

.section-2{
    margin-top: 12%;
    background-color: #eff2f9;
    padding-top: 12%;
    padding-bottom: 10%;
}
.about-us-img{
    
    padding-bottom: 40px;
    position: relative;
}
.about-us-content{
    margin-top: 10%;
}
.section-2 .main-heading{
    font-size: 25px;
    font-weight: 700;
    color: #3763eb;
    margin-bottom: 5px;
}
.heading-about-1{
    color: black;
    font-size: 45px;
}
p{
    font-size: 20px;
    color: #6a7c92;
}
.heading-about-30k h1,.heading-about-40k h1{
    color: #3763eb;
    margin-top: 10%;
    font-weight: 700;
}
.about-experience p{
    color: #fff;
}
.about-experience h3{
    color: #fff;
    font-size: 30px;

}
  .about-experience {
    position: absolute;
    padding: 40px 20px;
    color: #fff;
    background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);
    border-radius: 30px;
    width: 300px;
    border: 5px solid #fff;
    right: 0;
    transform: translateY(-80%)
    
  }
  
  .about-experience h3,
  .about-experience p {
    margin: 0;
  }


  /* services section  */

  .services-heading h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    
    }
    .services-icon{
        font-size: xx-large;
        color: #3763eb;
    }
/* section4 */

.section-4{
    padding: 5%;
    background-color: #eff2f9;
}
.section-4 .card{
    padding: 0% !important;
}
.card-content h2{
    font-size: 30px;
    font-weight: 600;
}


.card {
    position: relative;
  }

  .card .card-img {
    position: relative;
  }
 
  .card .card-img img {
    width: 100%;
  }

  .card .social-icons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  

  .card:hover .social-icons {
    display: flex;
    justify-content: center;
  }

  .card .social-icons .icon-link {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-size: 15px;
    padding: 8px;
  }

/* section-5 */
.section-5{
  margin-top: 10%;
  margin-bottom: 15%;
}

 /* Change image color */
 .carousel-item img {
  opacity: .3;
}

/* hovar image */
.carousel-item img:hover{
  opacity: 1;
}





  /* section-6 */
  .section-6{
    margin-top: 10%;
    margin-bottom: 10%;
  }
.address-content,.contact-content,.shedule-content{
    padding: 2%;
}
  .card-section6{
padding: 8px;
width: 100%;
  }
  .contact-info ,.address-info,.shedule-info{
    margin-left: 4%;
  }
  .contact-icon i,.address-icon i,.shedule-icon i{
    color: #fff;
    background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);
  }
  .sec-6-main-heading{
    color: #3763eb;
    font-size: 30px;
    font-weight: 600;
  }

  .form-control{
    padding: 30px;
    color: #333;
  }

  .form-btn{
    background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);
    font-size: 25px;
    font-weight: 500;
    padding: 18px 90px;
    border-radius: 20px;
  }
  

  /* section-7 */
.section-7{
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);
}
.newsletter-heading{
    color: #fff;
}
.newsletter-email input{
    border-radius: 20px;
}
.section-7 i{
    padding: 15px;
    color: #fff;
    background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);
    border: none;
}


/* section-8 */
.section-8{
    padding-top: 5%;
    background-color: #eff2f9;
}
.service-list,.quick-list  {
    margin-left: 10%;
    
}
.contact-list{
    margin-left: 15%;
}

.footer-link a{
    text-decoration: none;
    color: #6a7c92;
    font-size: 20px;
    font-weight: 400;
}
.footer-icons .fa{
    color: #fff;
    background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);

}
.footer-bottom h5{
  margin: 0%;
  padding: 0%;
}
.scroll-top .fa{
  color: #fff;
  background: linear-gradient(to top left,#3763eb 0%,#6f58e8 100%);
}

.scroll-top {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  color: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
}
.scroll-top a{
  text-decoration: none;
}
.scroll-top i{
  border-radius: 5%;
  padding: 12px 18px;
  border: none;
}

  